# Data Types

The data we store in a variable is always of a certain **type**. In other programming languages we would have to declare the type of data that the variable stores beforehand. However, in python the variable has it's type appointed dynamically when it is assigned a value.

We can figure out the type of a variable through the `type()` built-in function.

In [1]:
i = 5
type(i)

int

Here, the variable `i` is of type `int`, which stands for integer.

Python has 5 standard data types:  
Numbers, Strings, Lists, Tuples and Dictionaries.

## 1. Numbers
Python has three basic numerical types.

### a) int  
for signed integers

In [2]:
a, b, c = 0, 55, -555
type(a)

int

### b) float  
for floating point decimals

In [3]:
a, b, c = 1.0, 89.3333333, -12.1
type(a)

float

Decimals in python are separated using dots: `.`

### c) complex:  
for complex numbers

In [4]:
r, i, z = -.12+0j, 45.j, 5+3j
type(z)

complex

## 2. Strings
Strings are sequences of characters represented in quotation marks. Stings can be either defined using single (`'...'`) and double `("..")` quotation marks.

In [5]:
st = 'I am a string!'
st_2 = "1"
st_3 = ''
type(st)

str

Note that `st_2` is a string and not an integer (because of the quotation marks).

## 3. Lists
Lists are data types that contain objects separated by commas and enclosed by square brackets: `[...]`  
Lists don't need to contain objects of the same data type.

In [6]:
ls = ['a_string', 123, 12.21, 1+2j]
# a list can even contain other lists
ls_2 = [ [ 'abc', 123 ], ['0', 0], [99, 12j, "1", 'asdf'] ]
ls_3 = []
type(ls)

list

## 4. Tuples
Tuples are similar to lists, but their contents and size cannot be changed (unlike lists).  

Tuple elements are separated by commas (like lists) but enclosed within parentheses: `(...)`

In [7]:
tp = ('a_string', 123, 12.21, 1+2j)
tp_2 = ( ( 'abc', 123 ), ('0', 0), (99, 12j, "`", 'asdf') )
tp_2 = ()
type(tp)

tuple

## 5. Dictionaries
Dictionaries store data in key-value pairs. Dictionaries are enclosed by curly brackets: `{...}`

In [8]:
dc = {'name': 'a_name', 'age': 66, 'address': [53, 'Fragkoklistias', 'St'] }
dc_2 = {}
type(dc)

dict

Dictionaries have no concept of order among elements. For that you would need an *OrderedDict*, which we will cover in the future.

## Type Casting
In order to change from one data type to another we can use type casting.

In [9]:
a = 5
type(a)

int

`a` is an integer.

In [10]:
b = str(a)
type(b)

str

`b` is the string `'a'`.

In [11]:
c = float(b)
type(c)

float

`c` is the float 5.0.

Casting can work only on allowed conversions.

In [12]:
float('asdf')

ValueError: could not convert string to float: 'asdf'

### Other type casts:

In [13]:
int(a)  # integer
float(a)  # float
str(a)  # string
repr(a)  # expression string
l = []
t =tuple(l)  # tuple
list(t)  # list
set(t)  # set
dict(t)  # dict
chr(a)  # character
ord('a')  # converts a single character to it's integer value
hex(a)  # hexadecimal
oct(a)  # octal

'0o5'

## Boolean Type

True of False. The default type for logical operations.

In [14]:
b = True
b = False
b = bool(1)
type(b)

bool