# Tuples

Tuples are lists of immutable python objects. You can think of them as read-only lists.

In [1]:
T1 = 'a', 'b', 'c', 'd', 'e'
T2 = (1, 2, 3, 4, 5)
T3 = () # empty tuple
T4 = (15,) # single value tuple (requires comma!)

Tuple indexing works the same as in lists but assignment does not. You **can't** change the value of an element in a tuple after it has been declared.

For example T1[1] = 'g' is not allowed.

In [2]:
T1[1] = 'g'

TypeError: 'tuple' object does not support item assignment

## Tuple operations:

In [3]:
T1 + T2 
# concatenation works like with lists:
# ('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5)
T4 * 5
# so does repetition:
# (15, 15, 15, 15, 15)
'a' in T1
# and membership: True

True

Tuples support many of the built-in functions that lists do (`min()`, `max()`, `len()`, `sum()`, etc.), but does not support functions that change the elements (e.g `.sort()`). Instead we are forced to make copies of the tuple (`new_tup = sorted(tup)`).

## List to tuple conversion.

In [4]:
lst = [1, 2, 3]
tup = tuple(lst)  # converts list to tuple

## Tuple deletion.

In [5]:
del T2
# deletes the whole tuple

## Changing tuple elements.
We can change the elements of a tuple indirectly:

In [6]:
lst = list(T1)
# first we convert list to tuple
T1 = tuple(lst)
# then convert list to a new tuple and overrides the old one with it
del lst
# optionally delete list

Note that if we try to convert a tuple to a list through brackets.

In [7]:
lst = [T1]
# lst: [('a', 'b', 'c', 'd', 'e')]

This creates a list that has a tuple as an element.
If we wanted to the same with a tuple from a list we would have to add a comma

In [8]:
T = (lst,)
# (['a','b','c','d','e'])

# Dictionaries.

Dictionaries are data types that store key-value pairs.

In [9]:
D1 = {'Name': 'Jack', 'Age': 12, 'Phone': '0123456789'}

Dictionary entries are separated by commas (`,`). Each entry has a **key** and a **value** which are separated by colons (`:`).

In [10]:
D2 = {} # empty dictionary

## Referencing items in a dictionary.

Dictionaries have **no concept of order**, so if we want to retrieve something we stored we need to use it's key.

In [11]:
D1['Age']
# Returns the value of the entry which has 'Age' as a key:  12
D1['Phone']
# 0123456789

# Updating entries
D1['Age'] = 13
# update existing entry with 'Age' as a key
D1['PK'] = 999999
# create new entry with 'PK' as a key and 999999 as a value

## Deleting in dictionaries

In [12]:
del D1['Name']
# Removes entry with key 'Name'
D1.clear()
# Remove all D1 entries
del D1
# Deletes D1 as a whole

## Other Built-In Methods

In [13]:
D1 = {'Name': 'Jack', 'Age': 12, 'Phone': '0123456789'}

D1_cp = D1.copy()
# Returns a shallow copy of dictionary dict
D1.get('Age')
# Returns the value of the key 'Age'. Same as D1['Age']:  12
D1.items()
# Returns a list of dict's (key, value) tuple pairs:   [('Phone', '0123456789'), ('Age', 12), ('Name', 'Jack')]
D1.keys()
# Returns list of dictionary dict's keys:  ['Phone', 'Age', 'Name']
D1.values()
# Returns list of dictionary dict's values:  ['0123456789', 12, 'Jack']
# note again that both keys and values are unsorted
D2 = D2.fromkeys(('key1', 'key2', 'key3', 'key4'), ['val1', 'val2'])
# Create a new dictionary with keys from a sequence and values set to the values in a list: {'key3': ['val1', 'val2'], 'key2': ['val1', 'val2'], 'key1': ['val1', 'val2'], 'key4': ['val1', 'val2']}
D1.update(D2)
# Adds dictionary D2's key-values pairs to D1:  {'Phone': '0123456789', 'Name': 'Jack', 'key3': ['val1', 'val2'], 'key2': ['val1', 'val2'], 'Age': 12, 'key1': ['val1', 'val2'], 'key4': ['val1', 'val2']}